package layout

templ Base() {
	<html>
		<head>
			<title>Go + HTMX</title>
		</head>
		<body>
			<header>
				<h1>Go + HTMX</h1>
			</header>
			<main id="content">
				{ children... }
			</main>
			<footer>
				<p>Footer</p>
			</footer>
		</body>
	</html>
}
